BenTalkingServiceHTTP/BenTalkingServiceClient/Connected Services/ServiceReference1/BenTalkingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://vk.com/nuadolos" elementFormDefault="qualified" targetNamespace="https://vk.com/nuadolos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BenAnswerToQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userQuestion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BenAnswerToQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BenAnswerToQuestionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>